body{
  margin: 0;
}

.home-page{
  height: 100vh;
  background-color: white;
  display: flex;
}

.bulb{
  transform: scale(0.7);
}

.about{
  height: 100vh;
  background-color: Black;
}

.title{
  font-size: 4em;
  margin: 0;
  align: center;
  font-family: "Nunito";
  color: blue;
  padding-top: 4em;
  padding-left: 1em;
  padding-bottom: 0;
}

.description{
  margin-left: 69px;
  margin-right: 80px;
}

ul{
  list-style-type: none;
  margin: 0;
  float: right;
}

li{
  display: inline;
}

a{
  display: inline-block;
  padding-top: 0.8rem;
  padding-left:  3rem;
  padding-right: 3rem;
  text-decoration: none;
  color: blue;
  font-family: "Nunito";
}
a:hover{
  color: white;
  background-color: blue;
  padding-bottom: 1rem;
  transition: all .2s ease-in-out;
}

.nav-bar{
  width: 100%;
  background-color: white;
  height: 8vh;
  z-index: 100;
  position: fixed;
  float: right;
  box-shadow: 10px 0 10px #aaaaaa;
}

.about{
  display: flex;
  flex-direction: row;
}

.about-image{

  padding-left: 2rem;
  padding-top: 1.5rem;
}

.about-description{
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 8rem;
}

.ab-descrip{
  font-family: "Nunito";
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

.arduino-image{
  display: block;
  height: auto;
  width: 40rem;
  padding-top: 8rem;
}

.experiments{
  height: 100vh;
}

.Experiment-title{
  font-size: 3rem;
  margin: 1rem;
  font-family: "Nunito";
  color: blue;
}

.nav-experiments{
  width: 100%;
  background-color: white;
  height: 8vh;
  font-family: "Nunito";
  float: left;
  /*box-shadow: 0 5px 20px; #aaaaaa*/
}

.focus{
  width: 100%;
  height: 120vh;

}
